<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%;"
      xmlns:min-height="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body style="min-height: 100%;">

<nav class="navbar navbar-expand-md" style="background-color: #CD0404">
  <!-- Brand -->
  <a class="navbar-brand" href="#" style="color:white ">THB Student Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}" style="color:white ">Student Management</a>
      </li>
    </ul>
  </div>
</nav>
<div class="bg-image p-5  shadow-1-strong  mb-5 "  style="background: url('https://jobs.b-ite.com/api/v1/assets/0d30fb89-322e-494b-98df-95eea33759e7.jpeg') no-repeat center center fixed;background-size: cover;min-height: 100%;"
>
<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card" style="background-color: white;opacity: 0.8;">
      <h1 class = "text-center"> Neuen Studenten anlegen </h1>
      <div class = "card-body">
        <form th:action="@{/saveStudent}" th:object = "${student}" method="POST" >
          <div class ="form-group">
            <label> Students Name </label>
            <input
                    type = "text"
                    name = "firstName"
                 th:field = "*{name}"
                    class = "form-control"
                    placeholder="Namen eingeben"
            />
          </div>

          <div class ="form-group">
            <label> Students Nachname </label>
            <input
                    type = "text"
                    name = "lastName"
                    th:field = "*{nachname}"
                    class = "form-control"
                    placeholder="Nachname eingeben"
            />
          </div>

          <div class ="form-group">
            <label> Students  Email </label>
            <input
                    type = "text"
                    name = "email"
                    th:field = "*{email}"
                    class = "form-control"
                    placeholder="Email eingeben"
            />
          </div>

          <div class = "box-footer">
            <button type="submit" class = "btn " style="background-color: #CD0404;color: white">
              Senden
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>